body{
    margin: 0;
    font-family: fantasy;
}
ul{
    list-style-type: none;
    display: flex;
    gap:20px;
}
.container{
    background-color: #1f2937;
    color: #e5e7eb;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

button{
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    padding: 5px 20px;
    font-weight: bold;
}

.placeholder{
    color: #f9faf8;
    font-size: 18px;
    background-color: grey;
    text-align: center;
    padding: 100px;
    border-radius: 60px;   
}

.container p{
  width: 400px;
  text-align: start;
  font-size: 18px;
  padding: 0;
 
}

.main-text{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;    
    margin-bottom: -15px;
    max-width: fit-content;    
}
.main-text-container{
    display: flex;
    justify-content:space-around;
    padding: 50px;
    gap: 120px;
    
}

/*second section styles*/

.second-div{
    background-color: #f9faf8;
    padding: 100px;
    padding-top: 50px;
}

.second-div-tittle{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;

}
.second-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    
}
.first, 
.second, 
.third, 
.fourth {
height: 160px;
width: 160px;
border-radius: 10px;
border: 3px solid #2882f6;

}
.second-container p{
   width: 160px;
   text-align:center ;
   flex-wrap: wrap;
   font-size: 18px;
   margin: 0;
   
}

/*third section*/
.third-div{
    background-color: #e5e7eb;
    display: flex;  
    justify-content: center;  
    align-items: center;
    padding: 100px;
}
.text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: start;
    flex-wrap: wrap;
}
.quote-name{
    font-weight: bolder;
    text-align: end;  
    
}
.quote{
    width: 60%; 
}

